<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>PRAC_WEBSITE</display-name>
 
  <servlet>
  	<servlet-name>com.DataBse</servlet-name>
  	<servlet-class>com.DataBse</servlet-class>
 	</servlet>
 
 <servlet-mapping>
  	<servlet-name>com.DataBse</servlet-name>
  	<url-pattern>/connection</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>com.Logout</servlet-name>
    <servlet-class>com.Logout</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>com.Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
</servlet-mapping>
  
  
  
  
  	
 <servlet>
    <servlet-name>com.ValidateUser</servlet-name>
    <servlet-class>com.ValidateUser</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>com.ValidateUser</servlet-name>
    <url-pattern>/validate</url-pattern>
</servlet-mapping> 
  
 
  
  <welcome-file-list>
  	<welcome-file>Start.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>Index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>